<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="target" class="com.example.spring.TargetBean">

    </bean>

    <bean id="testXmlBean" class="com.example.spring.TestXmlBean" destroy-method="destroy">
        <property name="targetBean">
            <idref bean="target"/>
        </property>
    </bean>
</beans>